body {
  overflow: hidden;

  margin: 0px;
}

#content-container {
  display: flex;
  flex-wrap: wrap;
}

#board-canvas-container {
  border-style: double;
  background-color: #331200;
  /* background-image: radial-gradient(#0077BE, #00008B); */
  /* #2B65EC */
  /* background-color: #0077BE; */
}

/* #board-canvas {
  background-color: #0077BE;
} */

#left-sidebar-container {
  /* display: flex;
  flex-wrap: wrap; */

  border-style: solid none solid solid;

  /* background-image: linear-gradient(to bottom right, #3498DB, #27AE60); */
  background-color:  #6F4E37;
  /* transition: width 2s; */
}

.player-info-container {
  border-style: solid;
}

#player-1 {
  background-color: #737CA1;
}

#player-2 {
  background-color: #737CA1;
}
#player-3 {
  background-color: #737CA1;
}
#player-4 {
  background-color: #737CA1;
}

#right-sidebar-container {
  border-style: solid solid solid none;

  background-color: #6F4E37;
}

#chat-box {
  border-style: none none solid none;

  background-color: #737CA1;
}

#action-container {
  border-style: solid;

  background-color: #737CA1;
}

#left-sidebar-button {

  position: absolute;
  z-index: 1000;
}

#left-sidebar-button-drawing {
  stroke-width: 4px;
  stroke: #000000;
  /* fill: #331200; */
}
